* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.col-9 img {
  height: 650px;
  width: 100%;
  object-fit: cover;
  object-position: 90% 40%;
}

#card_slider .card {
  width: 100%;
  display: none;
  border: none;
}

#card_slider .card:nth-child(1) {
  display: block;
}


.fa-angles-left,
.fa-angles-right {
  cursor: pointer;
  background-color: white;
}

.overlay {
  width: 100%;
  font-size: 21px;
  text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
  background-color: rgba(0, 0, 0, .5);
}

.ms_prev i,
.ms_next i {
  padding: 20px;
  height: 100%;
  font-size: 30px;
  background-color: rgba(97, 188, 204, 0.822);
  display: flex;
  align-items: center;
}

.ms_prev i:hover,
.ms_next i:hover {
  background-color: rgba(97, 188, 204, 0.922);
}